############
## Local Setting
############


############
## Emacs
############

#*#
*~

############
## Maven
############

target

############
## Eclipse
############

.project
.classpath
.settings

############
## Derby
############

derby.log
